%h2
  Приказы

%p.n1
  = @order.template

= link_to 'Edit', edit_order_path(@order), class: 'btn btn-primary'
= link_to 'Back', orders_path, class: 'btn btn-primary'
= link_to @order, class: 'btn btn-danger', method: :delete do
  =fa_icon 'trash-o'
  Удалить