= form_for @tsign do |f|
  =error_messages_for @tsign

  .form-group
    = f.label 'Подписи'
    = f.text_area :signature, class: 'form-control js-ace', rows: 10

  .form-actions
    = f.submit 'Сохранить', class: 'btn btn-primary'