%h2
  Подписи

%p.n1
  %b Набор подписей:
  = @tsign.signature

= link_to 'Edit', edit_tsign_path(@tsign), class: 'btn btn-primary'
= link_to 'Back', tsigns_path, class: 'btn btn-primary'
= link_to @tsigns, class: 'btn btn-danger', method: :delete do
  =fa_icon 'trash-o'
  Удалить
