%h2
  Шаблон подписей приказа

%p.n1
  %b Набор подписей:
  = @tsign.signature

= link_to 'Редактировать', edit_tsign_path(@tsign), class: 'btn btn-primary fa fa-pencil-square-o'
= link_to 'Назад', tsigns_path, class: 'btn btn-primary fa fa-chevron-left'
= link_to @tsigns, class: 'btn btn-danger', method: :delete do
  =fa_icon 'trash-o'
  Удалить
