<h1>Listing tbodies</h1>

<table>
  <thead>
    <tr>
      <th>Main</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tbodies.each do |tbody| %>
      <tr>
        <td><%= tbody.main %></td>
        <td><%= link_to 'Show', tbody %></td>
        <td><%= link_to 'Edit', edit_tbody_path(tbody) %></td>
        <td><%= link_to 'Destroy', tbody, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tbody', new_tbody_path %>
