%h2
  Шаблон тела приказа

%p.n1
  %b Содержание тела:
  = @tbody.main

= link_to 'Редактировать', edit_tbody_path(@tbody), class: 'btn btn-primary fa fa-pencil-square-o'
= link_to 'Назад', tbodies_path, class: 'btn btn-primary fa fa-chevron-left'
= link_to @tbody, class: 'btn btn-danger', method: :delete do
  =fa_icon 'trash-o'
  Удалить
