%h2
  Тела

%p.n1
  %b Содержание тела:
  = @tbody.main

= link_to 'Edit', edit_tbody_path(@tbody), class: 'btn btn-primary'
= link_to 'Back', tbodies_path, class: 'btn btn-primary'
= link_to @tbody, class: 'btn btn-danger', method: :delete do
  =fa_icon 'trash-o'
  Удалить
