= form_for @thead do |f|
  =error_messages_for @thead

  .form-group
    = f.label 'Текст шаблона'
    = f.text_area :head, class: 'form-control js-ace', rows: 10

  .form-actions
    = f.submit 'Сохранить', class: 'btn btn-primary'
