%h2
  Шаблон шапки приказа

%p.n1
  %b Содержание шапки:
  = @thead.head

= link_to ' Редактировать', edit_thead_path(@thead), class: 'btn btn-primary fa fa-pencil-square-o'
= link_to ' Назад', theads_path, class: 'btn btn-primary fa fa-chevron-left'
= link_to @thead, class: 'btn btn-danger', method: :delete do
  =fa_icon 'trash-o'
  Удалить